# dependencies
/node_modules/

# assets and sources
/src/
/assets/

# IDEs and editors
/.editorconfig
/.idea
/.project
/.classpath
/.c9/
/.settings/
/.vscode/
/*.launch
/*.sublime-workspace
/tslint.json
